<?xml version="1.0" encoding="UTF-8"?>

<!-- 이 파일의 역할은 데이터 저장빈 클래스의 객체 별칭이름을 관리한다. -->
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases> <!-- 이 파일의 역할은 빈 클래스 객체 별칭이름을 관리 -->

		<typeAlias type="com.carecoach.vo.UsersVO" alias="member" />
          
	</typeAliases>
</configuration>